*, *::before. *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Corbel, sans-serif;
}
html{
    background-color: rgb(233, 161, 79);
}
header > h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-top:4rem;
}
#buttonContainer{
    display: flex;
    justify-content: center;
    margin-top:3rem;
}
.buttonDefault{
    margin:0.5rem 1.5rem;
    background-color: rgb(255,255,255);
    outline: none;
    box-shadow:none;
    border: 2px solid rgb(0,0,0);
    padding:0.8rem 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1.6px;
    transition: all 0.2s ease-out;
}
.buttonDefault:hover{
    background-color: rgba(255,255,255,0.5);
}

.buttonOn{
    background-color: rgba(255,255,255,0.5);
    transform: scale(1.1);
}
#buttonContainer > button:active {
    transform: scale(1.1);
}
#gridContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#grid{
    height:50vh;
    width:50vh;
    margin-top: 2rem;
    border: solid 5px black;
    display: grid;
    background-color: rgba(255,255,255,1);
}
.gridSquares{
    border: solid 1px black;
}
#slider {
    -webkit-appearance: none;
    width: 15rem;
    height:1rem;
    margin-top: 3rem;
    background: rgb(255,255,255);
    border-radius:1rem;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
    
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
  }
#sliderText{
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-weight:600;
    letter-spacing: 1.6px;
    font-size:1.2rem;
}

@media all and (max-width:700px) {
    #buttonContainer{
        flex-direction: column;
        width:50%;
        margin:0 auto;
    }
    #grid{
        height:70vh;
        width:70vh;
    }
}